@tailwind base;
@tailwind components;
@tailwind utilities;


body {    

    background-color: #1e293b;
    background-image: url('./img/grid.svg');
    background-size: 250px;
    
    @apply p-8;
}

#root{
    
}